{
    "applications": {
        "example_python": {
            "type": "python 3.10",
            "processes": 2,
            "path": "/projects/git/mwoodpatrick/podman_systemd/nginx-unit/python",
            "module": "wsgi"
        }
    },

    "listeners": {
        "*:8400": {
            "pass": "applications/example_python"
        }
    }
}
